@font-face { font-family: Walkway; src: url('../assets/Walkway/Walkway_SemiBold.ttf'); } 

body {
	background-color: #005741;
	font-family: Walkway;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.ops {
	text-align: center;
	font-size: 60px;
	color: #ffffff;
}

.ops a {
	color: #ffffff;
	text-decoration: none;
}

.ops a:hover {
	transition: color 0.5s;
	-webkit-transition: color 0.5s; /* Safari */
	color: #ff5f00;
}